In [2]:
import pandapower

net = pandapower.converter.from_mpc('../estimator_data/WP 4/A_KPC_35/A_KPC_35.mat')

In [3]:
net

This pandapower network includes the following parameter tables:
   - bus (40 elements)
   - load (14 elements)
   - sgen (1 element)
   - ext_grid (3 elements)
   - line (27 elements)
   - trafo (32 elements)

In [4]:
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type,controllable
0,None,2,6.00,-1.00,0.0,0.0,NaN,1.0,True,None,False
1,None,5,2.00,1.00,0.0,0.0,NaN,1.0,True,None,False
2,None,13,1.20,0.02,0.0,0.0,NaN,1.0,True,None,False
3,None,16,1.60,-0.15,0.0,0.0,NaN,1.0,True,None,False
4,None,19,0.49,0.08,0.0,0.0,NaN,1.0,True,None,False
5,None,21,4.00,0.50,0.0,0.0,NaN,1.0,True,None,False
6,None,23,7.00,1.00,0.0,0.0,NaN,1.0,True,None,False
7,None,25,5.51,1.81,0.0,0.0,NaN,1.0,True,None,False
8,None,27,3.80,-0.40,0.0,0.0,NaN,1.0,True,None,False
9,None,29,1.66,0.00,0.0,0.0,NaN,1.0,True,None,False
10,None,33,4.00,0.15,0.0,0.0,NaN,1.0,True,None,False
11,None,35,1.00,0.20,0.0,0.0,NaN,1.0,True,None,False
12,None,37,5.60,0.40,0.0,0.0,NaN,1.0,True,None,False
13,None,39,3.30,-0.30,0.0,0.0,NaN,1.0,True,None,False

In [5]:
net.sgen

,name,bus,p_mw,q_mvar,sn_mva,scaling,in_service,type,current_source,controllable,generator_type,min_p_mw,max_p_mw,min_q_mvar,max_q_mvar
0,None,35,1.0,0.0,NaN,1.0,True,,True,True,current_source,0.0,1.6,-0.7,0.7

In [6]:
net.bus

   name  vn_kv type zone  in_service  min_vm_pu  max_vm_pu
0     0  110.0    b  1.0        True        0.9        1.1
1     1   35.0    b  1.0        True        0.9        1.1
2     2   20.0    b  1.0        True        0.9        1.1
3     3   35.0    b  1.0        True        0.9        1.1
4     4   35.0    b  1.0        True        0.9        1.1
5     5   20.0    b  1.0        True        0.9        1.1
6     6   35.0    b  1.0        True        0.9        1.1
7     7   35.0    b  1.0        True        0.9        1.1
8     8  110.0    b  1.0        True        0.9        1.1
9     9   35.0    b  1.0        True        0.9        1.1
10   10   35.0    b  1.0        True        0.9        1.1
11   11   35.0    b  1.0        True        0.9        1.1
12   12   35.0    b  1.0        True        0.9        1.1
13   13   10.0    b  1.0        True        0.9        1.1
14   14   35.0    b  1.0        True        0.9        1.1
15   15   35.0    b  1.0        True        0.9        1.1
16   16   10.0    b  1.0        True        0.9        1.1
17   17   35.0    b  1.0        True        0.9        1.1
18   18   35.0    b  1.0        True        0.9        1.1
19   19   10.0    b  1.0        True        0.9        1.1
20   20   35.0    b  1.0        True        0.9        1.1
21   21   10.0    b  1.0        True        0.9        1.1
22   22   35.0    b  1.0        True        0.9        1.1
23   23   10.0    b  1.0        True        0.9        1.1
24   24   35.0    b  1.0        True        0.9        1.1
25   25   10.0    b  1.0        True        0.9        1.1
26   26   35.0    b  1.0        True        0.9        1.1
27   27   10.0    b  1.0        True        0.9        1.1
28   28   35.0    b  1.0        True        0.9        1.1
29   29   10.0    b  1.0        True        0.9        1.1
30   30  110.0    b  1.0        True        0.9        1.1
31   31   35.0    b  1.0        True        0.9        1.1
32   32   35.0    b  1.0        True        0.9        1.1
33   33   35.0    b  1.0        True        0.9        1.1
34   34   35.0    b  1.0        True        0.9        1.1
35   35   10.0    b  1.0        True        0.9        1.1
36   36   35.0    b  1.0        True        0.9        1.1
37   37   10.0    b  1.0        True        0.9        1.1
38   38   35.0    b  1.0        True        0.9        1.1
39   39   10.0    b  1.0        True        0.9        1.1

In [7]:
net.ext_grid

,name,bus,vm_pu,va_degree,slack_weight,in_service,min_p_mw,max_p_mw,min_q_mvar,max_q_mvar
0,None,0,1.05,0.0,1.0,True,-40.0,40.0,-40.0,40.0
1,None,8,1.05,0.0,1.0,True,-80.0,80.0,-80.0,80.0
2,None,30,1.05,0.0,1.0,True,-40.0,40.0,-40.0,40.0